{% csrf_token %}
<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
  <title>Login</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">



  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

  <style>
    .border {
      display: inline-block;
      width: 70px;
      height: 70px;
      margin: 6px;
    }
  </style>

</head>

<body style="background-color: powderblue;">
  <div class="bg-info">
    <img src="paris.jpg" class="mx-auto d-block" style="width:10%">
    <h3 style="text-align: center;">OTT</h3>

  </div>

  <h2 style="text-align: center; margin-top: 80px">LOGIN/REGISTER</h2>

  <div class="container-fluid" style="background-color: powderblue;">

    <div class="container md-3">
      <div class="container" style="background-color: powderblue;">
        <div class="col-md-12 text-center">

          <div class="row justify-content-center">

            <form class="form-container">
              <style>
                .form-container {
                  background: aliceblue;
                  padding: 50px;
                  border-radius: 10px;
                  box-shadow: 0px 0px 10px 0px #000;


                }
              </style>
              <label for="name"><b>Name:</b>&nbsp;</label>
              <input type="text" id="name" name="name" style="margin-left: 40px"><br>
              <label for="password"><b>Password:</b></label>
              <input type="text" id="password" name="password" style="margin-left: 20px"><br><br>
            <a href="/register/"><button type="button" class="btn btn-info btn-outline" id="register"
              style="margin-left: 40px">Register</button></a>  
              <button type="button" class="btn btn-info btn-outline" id="login"
                style="margin-left: 30px">Login</button><br><br>
              <!-- <button type="button" class="btn btn-info btn-outline" id="signin" style="margin-left: 50px">SignIn with
                Google</button> -->
              <!-- <button type="button"  class="btn btn-info btn-outline btn-block" id="btnId">Proceed</button> -->
          </div>

        </div>
      </div>
      </form>
    </div>
  </div>
  </div>





</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="../../static/js/login.js"></script>

</html>