<!DOCTYPE html>
<html>

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body style="background-color: powderblue;">

  <div class="bg-info">
    <img src="img.jpg" class="mx-auto d-block" style="width:10%">
    <h3 style="text-align: center;">OTT</h3>
  </div>



  <!-- Blue with white text -->

  <!-- <img src="img_avatar2.png"  class="navbar navbar-expand-sm bg-primary navbar-dark"></img>
<h2 style="text-align: center;">OTT</h2> -->

  <div class="container mt-3">

    <img src="img_avatar3.png" alt="Name!" class="mr-3 mt-3 rounded-circle" style="width:60px;">
    <div class="media-body">



    </div>
  </div>
  </div>
  <div class="media border p-3">
    <div class="container md-3">

      <div class="container bg-powderblue">
        <div class="col-md-12 text-center">
          <div class="row justify-content-center">

            <form class="form-container">
              <style>
                .form-container {
                  background: aliceblue;
                  padding: 60px;
                  border-radius: 10px;
                  box-shadow: 0px 0px 10px 0px #000;


                }
              </style>

              <div class="btn-group-vertical">
                <div class="media-body">
                  
                  <button type="button" class="btn btn-info btn-outline btn-block">My Subsciptions</button>
                  <button type="button" class="btn btn-info btn-outline btn-block">Liked Videos</button>
                  <button type="button" class="btn btn-info btn-outline btn-block">Watch History</button>
                  <button type="button" class="btn btn-info btn-outline btn-block">My Channel</button>
                  <a href="/buy/"><button type="button" class="btn btn-info btn-outline btn-block">Remove Ads</button></a>
                  <button type="button" class="btn btn-info btn-outline btn-block">Logout</button>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</body>

</html>
