{% extends './base.html' %}

{% block title %}Series{% endblock %}

{% block content %}
<nav class="hide navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="/home/">Movies</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active1" href="/series/">Series</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/songs/">Songs</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/videos/">Videos</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/mylist/">My List</a>
        </li>
    </ul>
</nav>
<nav class="hides navbar navbar-expand-md navbar-dark bg-dark fixed-bottom" aria-label="Fourth navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Blah..</a>
        <form>
            <input class="form-control" type="text" placeholder="Search" aria-label="Search" />
        </form>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
            aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExample04">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link " href="/home/">Movies</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="/series/">Series</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/songs/">Songs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/videos/">Videos</a>
                </li>
                {% if 'Email' in request.session %}
                <li class="nav-item">
                    <a class="nav-link" href="/mylist/">My list</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/settings/">Settings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/myprofile/">Profile</a>
                </li>
                {% else %}
                <li class="nav-item dropup">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown10" data-bs-toggle="dropdown"
                        aria-expanded="false">Login</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdown10">
                        <li><a class="dropdown-item" href="/login/">Login</a></li>
                        <li><a class="dropdown-item" href="/register/">Sign Up</a></li>
                    </ul>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="videos">
    <div class="category">
        <div class="sec">
            <h2 class="video-section-title">Trending</h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important">
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="category">


        <div class="sec">
            <h2 class="video-section-title">
                Latest
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important">
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="sec">
            <h2 class="video-section-title">
                Action
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important">
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="category">
        <div class="sec">
            <h2 class="video-section-title">
                Adventure
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important">
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">

                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>

{% endblock %}