{% extends './base.html' %}

{% block title %}Movies{% endblock %}

{% block content %}
<div class="videos">
    <div class="abc">
        <div class="sec">
            <h2 class="video-section-title">
                Trending
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important;">

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="abc">
        <div class="sec">
            <h2 class="video-section-title">
                Latest
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper " style="padding-top: 5px !important;">

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <div class="abc">
        <div class="sec">
            <h2 class="video-section-title">
                Classics
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important;">
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
    <div class="abc">
        <div class="sec">
            <h2 class="video-section-title">
                Hip Hop
                <a href="/seemore/"><button class="see">See more</button></a>
            </h2>
        </div>
        <div class="scrolling-wrapper" style="padding-top: 5px !important;">

            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
            <div class="card">
                <article class="video-container">
                    <a href="/vpage/" class="thumbnail">
                        <img class="thumbnail-image" src="http://unsplash.it/250/150?gravity=center" />
                    </a>
                    <div class="video-bottom-section">
                        <a href="#">
                            <img class="channel-icon" src="http://unsplash.it/36/36?gravity=center" />
                        </a>
                        <div class="video-details">
                            <a href="/vpage/" class="video-title">Video Title</a>
                            <div class="video-metadata">
                                <span>12K views</span>
                                •
                                <span>1 week ago</span>
                            </div>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
</div>




{% endblock %}